{% extends 'base.html' %}

{% block title %}Annual Lakehouse Gathering{% endblock %}

{% block page-header %}
  <h1>Annual Lakehouse Gathering</h1>
  <p class="lead">Friends, food, lake, beer. What could go wrong?</p>
{% endblock %}

{% block content %}
  <div>
    <h2>Time & Place</h2>
    <div class="wrapper">
      <div class="column-left">
        <p>
          <strong>When: August 18th, 10:00pm EST thru August 21st 10:00am EST (approximately)</strong>
        </p>
        <address>
          <strong>Hathaway Hideaway</strong><br />
          66 Elbow Dr.<br />
          Hubbardton, VT 05743<br />
        </address>
        <h3>Directions from Fishing Access Rd.</h3>
        <p>
          Althought it looks like Google Maps now takes you to the correct place, here are some directions just in case (alt. look for signs marked "Hathaway"):
          <ol>
            <li>After going onto the dirt road, continue past the first intersection to the fork in the road just past the steep hill</li>
            <li>Take the right path</li>
            <li>Stay on the road; you should pass "Elbow Dr" on your right. When you see the boat trailer parked before a small shed, park in front the boat trailer</li>
            <li>Go to the right, down the stairs, and you will arrive!</li>
          </ol>
        </p>
      </div>
      <div class="column-right responsive-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2882.237102982908!2d-73.21420958411402!3d43.74717287911817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e01d8ea6a0f4e9%3A0x522bcfc381424b8f!2s66+Elbow+Dr%2C+Fair+Haven%2C+VT+05743!5e0!3m2!1sen!2sus!4v1471224743254" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></iframe>
      </div>
    </div>
  </div>
  <div>
    <h2>What to bring</h2>
    <p>The lakehouse has electricity, wifi, and even air conditioning. We should have plenty of linens and pillows; although some people may need to sleep on air mattresses or pull out beds. Bring anything personal you need, such as:</p>
    <ul>
      <li>Toothbrush and toothpaste</li>
      <li>Bathing suite and towel</li>
      <li>Clothing; we have a washer and dryer</li>
      <li>Favorite Board Games</li>
      <li>Snacks, alcohol, etc.</li>
    </ul>
    <p>Food will be bought by myself, but alas, I am a mere penniless graduate student. Any donations towards the food and boat gas for the weekend would be appreciated.</p>
  </div>
  <div>
    <h2>Who</h2>
    <ul>
      <li>Charles Hathaway</li>
      <li>Ranjani Sargunaraj</li>
      <li>Ryan Kennedy</li>
      <li>Carl Tompkins</li>
      <li>Tom Jossman</li>
      <li>David Hughes</li>
      <li>Alysia Beth</li>
      <li>Hendrik Weideman</li>
    </ul>
    <p>Special guest appearances from:</p>
    <ul>
      <li>Peter Hathaway</li>
      <li>Edith Hathaway</li>
    </ul>
  </div>
  <div>
    <h2>Itinerary</h2>
    <p>Although this doesn't need to be strictly followed, I always try to plan a few events in case of the inevitable "What should we do?" question pops up. Of course, we can do anything that we want, but let's try to stay away from the everday stuff we do at home, yeah?</p>
    <table class="table table-striped">
      <tr>
        <th>When</th>
        <th>Activity</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Thursday</td>
        <td></td><td></td>
      </tr>
      <tr>
        <td>10:00PM</td>
        <td>Arrivals</td>
        <td>Charles, Ran, Carl, Tom</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td></td><td></td>
      </tr>
      <tr>
        <td>10:00AM</td>
        <td>Dock swimming</td>
        <td>Swimming from the main dock to the floating dock; feel free to gather as much milfoil as you want!</td>
      </tr>
      <tr>
        <td>1:00PM</td>
        <td>Arrivals</td>
        <td>Ryan</td>
      </tr>
      <tr>
        <td>2:00PM</td>
        <td>Deep Water Swimming</td>
        <td>Like swimming from the dock, except it's so deep you can't touch the bottom!</td>
      </tr>
      <tr>
        <td>7:00PM</td>
        <td>Arrivals</td>
        <td>David, Alysia, Hendrik</td>
      </tr>
      <tr>
        <td>7:00PM</td>
        <td>Beer Pong</td>
        <td>Let loose and limber up for what's next!</td>
      </tr>
      <tr>
        <td>9:00PM</td>
        <td>Karaoke</td>
        <td>Singing out to your hearts content! Don't worry; if we all do it, we'll be equally bad (except Ran, she has a beautiful voice!)</td>
      </tr>
      <tr>
        <td>Saturday</td>
        <td></td><td></td>
      </tr>
      <tr>
        <td>10:00AM</td>
        <td>Halfmoon Park Hike</td>
        <td>After a night of drinking, nothing is better than a hike under the sun! Bring lots of water.</td>
      </tr>
      <tr>
        <td>2:00PM</td>
        <td>Tubing behind the boat</td>
        <td>Don't do this if you can't swim.</td>
      </tr>
      <tr>
        <td>8:00PM</td>
        <td>Bonfire and S'Mores</td>
        <td>Nothing better than a bonfire with chocolate and sugar after a day full of activities</td>
      </tr>
      <tr>
        <td>Sunday</td>
        <td></td><td></td>
      </tr>
      <tr>
        <td>10:00AM</td>
        <td>Departures</td>
        <td>Thanks for coming!</td>
      </tr>
    </table>
  </div>
  <div class="Food">
    <h2>The Food</h2>
    <table class="table table-striped">
      <tr>
        <th>Meal</th>
        <th>Foods</th>
      </tr>
      <tr>
        <td>Friday Breakfast</td>
        <td>Bagels, cereal, eggs, sausages</td>
      </tr>
      <tr>
        <td>Friday Lunch</td>
        <td>Turkey Burgers, Salad, Corn on the cobb</td>
      </tr>
      <tr>
        <td>Friday Dinner</td>
        <td>Cold cuts; turkey, swiss, pepperjack, ham, roast beef, lettuce, tomato, butter, jam</td>
      </tr>
      <tr>
        <td>Saturday Breakfast</td>
        <td>Bagels, cereal, eggs, sausages</td>
      </tr>
      <tr>
        <td>Saturday Lunch</td>
        <td>Chicken wings, Pasta Salad, Lettuce Salad</td>
      </tr>
      <tr>
        <td>Saturday Dinner</td>
        <td>Taco taco! Beans and beef</td>
      </tr>
      <tr>
        <td>Sunday Breakfast</td>
        <td>Bagels, cereal, eggs, sausages</td>
      </tr>
      <tr>
        <td>Snacks</td>
        <td>
          <ul>
            <li>Chips; Red Hot Utz, Salt and Vinegar, Plain, Sour Cream and Onion</li>
            <li>Fruit; apples, oranges</li>
            <li>Peanuts</li>
            <li>Popcorn</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Beverages</td>
        <td>
          Please, BYOB. We will have some in stock, and encourage sharing, but there's too much variety!
        </td>
      </tr>
    </table>
  </div>
{% endblock %}
