@import 'bootstrap.less';
@import 'mixins.less';

.page-banner {
  width: 100%;
  height: 360px;
  background: url("/static/esmeralda/images/lakefront.png") center center;
  background-size: cover;
  position: absolute;
  top: 50px;
  margin-top: 0px;
  padding-top: 0px;
  z-index: -500;
  div {
    top: 0px;
    width: 100%;
    height: 360px;
    background: black;
    opacity: 0.4;
    padding-bottom: 0px;
    margin-bottom: 0px;
    z-index: -499;
  }
}

.page-description {
  margin-top: 80px;
  height: auto;
  div {
    background-color: fade(@jumbotron-bg, 80%);
    min-height: 280px;
  }
}

.content {
  &:extend(.container);
  padding-top: 50px;
  .row {
    padding: 10px 10px 10px 10px;
  }
  .footer {
    text-align: right;
  }
}

.blog-entry {
  .meta {
    color: @gray-light;
    font-style: italic;
    font-size: 18px;
  }
}

/* Active nav item */
#section-home .nav-home,
#section-bio .nav-bio
{
  &:extend(.active);
  background-color: @gray-lighter;
}

/* Simple page layout */
.wrapper {
    .make-row();
}

.column-left {
    .make-md-column(6);
}

.column-right {
    .make-md-column(6);
}
